* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  /* filter: drop-shadow(0 0 0.5rem rgb(0, 37, 70)); */
}
td,
th {
  padding: 8px 16px;
  text-transform: capitalize;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: rgb(0, 37, 70);

  color: white;
}
tr:nth-child(even) {
  background-color: white;
  color: rgb(0, 37, 70);
  border-left: 1px solid rgb(0, 37, 70);
  border-right: 1px solid rgb(0, 37, 70);
}
tr:first-child {
  background-color: rgb(65, 65, 65);
  color: white;
}

tr:first-child th:first-child {
  border-radius: 8px 0 0 0;
}
tr:first-child th:last-child {
  border-radius: 0 8px 0 0;
}
tr:last-child td:first-child {
  border-radius: 0 0 0 8px;
}
tr:last-child td:last-child {
  border-radius: 0 0 8px 0;
}

th:hover {
  cursor: pointer;
}
tr:hover {
  background-color: rgb(231, 147, 13);
  cursor: pointer;
  color: black;
}

tr:first-child:hover {
  background-color: rgb(65, 65, 65);
  color: white;
}
